.song-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    font-size: 2rem;
    padding: 3rem 1rem 0rem 1rem;
  }
  h3 {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    color: rgb(180, 180, 180);
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 48%;
    }
  }
}
